:host {
    display: block;
    margin: 0 10px;
}

.time {
    padding: 10px 0;
}

.time-item{
    position: relative;
    float: left;
}

.time-empty{
    float: left;
}

.time-stript{
    float: left;
    height: 20px;
    width: 2px;
    background-color: grey;
}

.time-stript.small{
    margin-top: 10px;
    height: 10px;
}

.hours-stript {
    box-sizing: border-box;
    display: inline-block;

}

.time-o-clock{
    top: -10px;
    left: -10px;
    position: absolute;
    font-size: 10px;
}

