<md-grid-list cols="12" rowHeight="60px">
  <md-grid-tile [colspan]="8">
    <md-input-container>
      <input mdInput placeholder="What do you do?">
    </md-input-container>
  </md-grid-tile>
  <md-grid-tile  [colspan]="2">
    <md-input-container>
      <input mdInput placeholder="Queue">
    </md-input-container>
  </md-grid-tile>
  <md-grid-tile [colspan]="1">
    <h1> {{timerData.delta | timeAgo}}</h1>
  </md-grid-tile>
  <md-grid-tile [colspan]="1">
     <button md-mini-fab (click)="toggleTimer()">
       <md-icon *ngIf="!timerData.isStart">play_arrow</md-icon>
       <md-icon *ngIf="timerData.isStart">stop</md-icon>
     </button>
  </md-grid-tile>
</md-grid-list>
